body {
    text-align: center;

}

#apps {
    width: 100%;
    height: 800px;
    background: linear-gradient(#cc99ff 0%, #003399 100%);
    vertical-align: middle;

}

#games {
    width: 100%;
    height: 800px;
    background: linear-gradient(#F48FB1 0%, #D50000 100%);
    vertical-align: middle;
}

#bots {
    width: 100%;
    height: 800px;
    background: linear-gradient(#FFFF00 0%, #FF6D00 100%);    
}

img {
    transition: transform .2s;
    width: 300px;
    height: 400px;
}

img:hover {
    transform: scale(0.9);

}

.line {
    height: 6px;
    width: 70px;
    margin: 8px auto;
    background: black;
}
